@page "{id:int?}"
@model musicrush.Pages.Songs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Album)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Song.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
