@page
@model musicrush.Pages.Songs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Album)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Song.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
