@page "{id:int?}"
@model musicrush.Pages.Songs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Song.Title)</h1>

<div>
    <hr />
    <dl class="row">
        @* Hiding the title row, as we are displaying title as h1
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Album.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Rating)
        </dt>
        <dd class="col-sm-10">
            @{
                var songStarRating = new String( '✭', this.Model.Song.Rating ?? 0);
            }
            @songStarRating
            (@Html.DisplayFor(model => model.Song.Rating))  
            <br> 
            <a asp-page="./Edit" asp-route-id="@Model.Song.ID">Edit Rating</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Delete" asp-route-id="@Model.Song.ID">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
